<!DOCTYPE html>
<html lang="fr">
<head <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
>
  <meta charset="UTF-8">
  <title>Lettre de motivation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Ma lettre de motivation</h1>
    <p>
      Madame, Monsieur,<br><br>
      Actuellement en reconversion vers le développement web back-end, je souhaite intégrer une formation qui me permette de développer des compétences concrètes et durables dans ce domaine. Curieux, motivé, et habitué à apprendre par la pratique, j’ai déjà commencé à créer ce site web pour me présenter.<br><br>
      Mon objectif est clair : apprendre, construire, collaborer. Intégrer votre programme serait pour moi un tremplin vers un nouveau parcours professionnel plus technique et plus autonome.<br><br>
      Je reste à votre disposition pour un entretien et vous remercie pour l’attention portée à ma candidature.<br><br>
      Cordialement,<br>
      <strong>Mihail ROIBU</strong>
    </p>
  
<button id="dark-mode-toggle" style="position:fixed; bottom:70px; right:20px; padding:8px 12px; border:none; border-radius:20px; background:#ccc; cursor:pointer;">
  🌙 / ☀️
</button>
</div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
